#create-employee {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     line-height: 2em;
     padding-block: 4em;
}
.form-field {
     display: flex;
     flex-direction: row;
     gap: 1em;
     justify-content: center;
}
.field-label {
     display: flex;
     flex-direction: column;
}
.address {
     gap: 1em;
     display: flex;
     justify-content: center;
     margin: 1em 0;
}
.button-save {
     background-color: #5a6f08;
     color: #fff;
     border: 0.5px solid;
     margin-top: 1em;
     padding: 0.5em 4em;
}
input,
#department {
     padding-block: 0.5em;
}
.erreur {
     color: red;
}
