.features {
     /* background-color: #ab8754;*/
     margin-top: -1.6em;
     padding-block: 1em 0;
}
.feature-cards {
     justify-content: space-around;
     display: flex;
     padding: 2em;
}
.features-title {
     padding-block: 1em;
     font-family: "Syne";
}
.cta-title {
     padding-block: 1em;
     font-family: "Syne";
}
.cta {
     position: relative;
     padding-bottom: 2em;
}
.cta .cta-links ::before {
     content: " ";
     background-color: #ab8754;
     position: absolute;
     width: 100%;
     height: 0.5%;
     bottom: 0;
     left: 0;
     z-index: 0;
}
.cta-links {
     display: flex;
     justify-content: center;
     gap: 2em;
}
.cta-button {
     background-color: #5a6f08;
     color: #fff;
     border: 0.5px solid;
     padding: 0.5em 0;
     width: 20%;
     transition: transform 330ms ease-in-out;
}
.cta-button:hover {
     transform: scale(1.1);
     background-color: #ab8754;
}
