.feature-card {
     border: 2px solid #ab8754;
     /*background-color: #ab8754;*/
     max-width: 350px;
     width: 28%;
     height: 10em;
     padding: 1em;
     flex-direction: column;
     justify-content: space-between;
     z-index: 1;
}
