.navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.navbar-logo {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.navbar-logo p {
     color: #5a6f08;
     font-weight: bold;
     font-family: "Syne";
     margin: 0;
}
.navbar-links {
     display: flex;
     gap: 3em;
     list-style-type: none;
     /*color: ;*/
}
li a {
     display: inline-block;
     color: #5a6f08;
     font-weight: bold;
     font-family: "Syne", sans-serif;
     transition: transform 330ms ease-in-out;
}
li a:hover {
     transform: scale(1.1);
     opacity: 0.8;
}
.navbar-img {
     width: 40%;
     /* color: #93ad18;
    color: #5a6f08;
    color: #6e8508;*/
}
