.error {
     text-align: center;
     padding: 20px;
}

.error-text {
     font-size: 2.5em;
     z-index: 1;
     position: relative;
}

.error img {
     width: 200px; /* Ajustez la taille selon vos besoins */
     transform: rotate(40deg);
     object-fit: cover;
     height: 10em;
     margin: 0;
}

.error p {
     font-size: 1.5em;
}

.error__link {
     font-size: 1.2em;
     color: #000;
     text-decoration: none;
     margin-bottom: 30px;
}

.error__link:hover {
     color: #5a6f08;
}
