:root {
     font-family: "Work Sans", sans-serif;
     line-height: 1.5;
     font-weight: 400;
}

a {
     text-decoration: none;
}

body {
     margin: auto;
}

@media (prefers-color-scheme: light) {
}
